.header-container {
	width: 100%;
	border: solid rgb(255, 0, 255);
}

.header-site {
	float: left;
	border: solid rgb(255, 0, 0);
}

.header-buttom {
	float: right;
	border: solid rgb(255, 0, 0);
}

.clearfix::after {
	clear: both;
	display: table;
}