html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.my-body{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.my-content {
    flex-grow: 1;
}

.my-header-site-name {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 6px;
    word-spacing: -5px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
}

.my-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
